@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?1d5rin');
    src:  url('/fonts/icomoon.eot?1d5rin#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?1d5rin') format('truetype'),
      url('/fonts/icomoon.woff?1d5rin') format('woff'),
      url('/fonts/icomoon.svg?1d5rin#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  

  /* Añadi styles.css del Icommon para poder cargar la fuente que sostiene a los iconos*/



body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h1{
    font-size: 35px;
    line-height: 1.5;                                                                                 
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    margin-bottom: 8px;
    margin-left: 22px;
}
h1 strong{
    color:#026fff;
}

h2{
    color:#026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.hero{
    height: 300px;
    background-color: #1b2127;
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */ /*Evitar scroll horizontal*/ /* Las propiedades se heredan a los hijos (container)*/
}

.hero-image{
    object-fit: cover;
}


.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Las imagenes caen y se ubican debajo del texto*/
}

.project-course,
.project-date,
.project-url{
    margin: 32px 0;
    font-size: 15px;
}

.project-date small{
    font-size: 15px;
}

.project-url small{
    font-size: 15px;
}


.project-date,
.project-url strong{
    font-weight: bold;
}


.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-title{
    font-size: 30px;
    margin-top:0;
    margin-bottom: 50px;
}

.project-details{
    width: 50%;
    margin: 0 0 10px;

}

.project-imageContainer{
    width: 50%;
}

.project-imageContainer img{
    max-width: 100%; /* La imagen ocupara el 100% del espacio que tenga disponible, no hay necesidad de tocar el html original*/
}


.header{
    background-color:#1b2127;
    color: white; 
    display: flex;  
    justify-content: space-between;
    height: 85px;
    border-bottom: 2px solid white;
    align-items: center;
    flex-wrap: wrap; /*Evitar scroll horizontal*/
}

.menu{
    height: inherit;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}


.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 23px;
    font-size: 20px;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0;
}

.logo{
    margin-top: 9px; 
    margin-left: 8px;
    margin-bottom: 9px;
}

.footer{
    border-top: 2px solid white;
    text-decoration: none;
    color: white;
    background-color: #1b2127;
    height: 85x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer a{
    text-decoration: none;
    color: #03b1fc;
}

.footer p{
    margin-right: 7px;
    margin-left: 5px;
}


.footer img{
    vertical-align: middle;
}


.experience-list{
    display: flex;
    flex-wrap: wrap;
}

.experience-list-title{
    margin-left: 20px;
}

.experience{
    border: 2px solid #1b2127;
    border-radius: 10px;
    margin: 0.8%;
    width: 46%;
    overflow: hidden;
    flex-shrink: 0;
    background: #ffffff;
    margin-left: 2%;
}

.experience img{
    width: 130px;
    height: 130px;
    margin-left: 33%;
    margin-right: 36%;
    margin-top: 2%;
}

.experience-detail{
    margin: 20px;
    margin-top: 0px;
    background-color: white;
    padding: 7px;
    position: static; /* Lo cambie de relative a static por el menu hamburguesa*/
    text-align: center;
}


.experience-description{
    text-align: left;
}

.experience-url{
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}

.contact{
    border-top: 2px solid white;
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Caen las redes sociales*/
}

.social-link{
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url('/Imagenes website/icons8-twitter-48.png');
}

.social-link.linkedin{
    background-image: url('/Imagenes website/icons8-linkedin-52.png');
}

.social-link.github{
    background-image: url('/Imagenes website/icons8-github-48.png');
}

.social-link.instagram{
    background-image: url('/Imagenes website/icons8-instagram-48.png');
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('/Imagenes website/icons8-comentarios-50.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    width: 222px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 8px 0;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    width: 100px;
    margin-bottom: 7px;
}


.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}


.container{
    max-width: 1024px;/* Lo maximo que recibe*/
    flex: 1; /* Le indicamos que ocupe todo el ancho del elemento que pueda*/
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.video-container{
    resize: auto;
}

.html-video{
    max-width: 100%;
    margin-top: 1%;
    height: auto;
}

.youtube-video{ 
        position: absolute;/* Posición absoluta para posicionarse en flexible-video. */
        top: 0;/* Estira el video a cada esquina. */
        bottom: 0;/* Estira el video a cada esquina. */
        right: 0%;/* Estira el video a cada esquina. */
        left: 10%;/* Estira el video a cada esquina. */
        width: 100%;/* Ocupar todo el espacio en horizontal. */
        height: 100%;/* Ocupar todo el espacio en vertical. */
        z-index: 3;    /* Indica que irá al frente de los elementos definidos por z-index 2 y 3. */
}

.flexible-video{
    margin-top: 3%;
    width: 85%;/* Porcentaje que se desea ocupar en el contenedor padre. */
    height: 0;/* Altura 0, pues esta se establecerá por padding. */
    padding-top: 40.25%;/* Pd-t=Porcentaje/100*height*100/width*/ /* El calculo daba 56 pero me parecio mucho */
    position: relative;/* Relativo, para asi lograr que el absolute se posicione aqui. */

}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.8);
    display: none;
    /*
    Display: flex;
    align-items: center;
    justify-content: center;
            CENTRA EL BOTON
    */
    line-height: 40px; /* Centrado vertical*/ /* Misma medida que el boton*/
    text-align: center; /* Centrado horizontal*/
    position: fixed; /* El boton te sigue*/
    z-index: 4; /* La imagen del hero era z-index:3, con esto el boton ya pasa por arriba de todos los elementos*/
    color: white;
    margin-left: 5px;
    margin-top: 5px;
}

/* Desktop first --------> Empezamos con el MediaQuerie mas grande*/

@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 767px){

    .logo{
        margin-top: 0; /* Me general un espacio en blanco arriba del boton */
    }

    .burger-button{
        display: block; /* Con esto el width height y background toman los valores que yo les doy*/
    }

    .header{
        flex-wrap: wrap;
    }

    .hero{
        flex-wrap: wrap;
        height: auto;
        position: relative; /* El encabezado delante de la imagen*/
        overflow: hidden;
    }

    .hero.desaparece{
        display: none;  /* Hace desaparecer el hero cuando se activa el menu*/
    }

    .flexible-video.desaparece{
        display: none;    /* Hace desaparecer el video cuando se activa el menu*/
    }

    h1{
        position: relative; /* El texto delante de la imagen*/
        text-shadow: 1px 1px 2px #000;
       font-size: 1.9em;
       z-index: 2; /* El texto delante de la imagen*/
       margin-bottom: 34%;
    }

    .hero-image{
        position: absolute; /*Posicion fija*/ /* Absolute+overflow:hidden  O  position: static + max-width: 100%;*/
        max-width: 100%; /* Se adapta perfecta la imagen al hero donde esta contenida*/
        width: auto;
        z-index: 1; /* Fija la imagen detras del texto*/
        left:0;
        right:0;
        top:0;
        bottom: 0;
    }

    .header{
        display: block; /* display original de los elementos, se caen*/
        height: auto;
    }
    .header ol{
        display: block; /* Puedo usar initial ya que la misma era block*/
    }
    .header ol li{
        height: 50px; /* Aumentamos el espacio para que se vean los elementos*/
    }
    .header a{
        justify-content: center; /* Centramos los elementos*/
        height: 40px;
        font-size: 1.2em;
        text-decoration: underline;
        margin-bottom: .2em;
    }
    .header .logo{
        text-align: center; /* centramos la imagen*/
    }

    .menu{
        position: fixed; /* Tanto el boton como los elementos(exp,portaf) ahora te acompañan */
        background-color:rgba(5,111,255,.9); /* La opacidad me permite ver detras del menu *^/
        z-index:3; /* Mismo nivel que la foto del hero pero abajo del boton*/
        top: 0; /* Me los llevo a la esquina donde esta el boton*/
        /* left: 0 */;/* Me los llevo a la esquina donde esta el boton*/
        width: 100vw;
        height: 100vh;   /* Ocupa todo el ancho visual */
        bottom: 0; /*^El height del ol es inherit y con esto se estira sin necesidad de cambiar el inherit */
        align-items: center;
        justify-content: center;
        left: -100vw; /* Esconde el menu */
        transition: .3s;
    }
    .menu.is-active{
        left: 0;
    }
    .project{
        display: block;
    }
    .project-imageContainer{
        width: auto; /* Auto ya que previamente definimos que la imagen ocupe el 100% del contenido disponible*/
        text-align: center;
    }
    .project-details{
        width: auto;
        font-size: 16px;
    }

    .project-course,.project-date,.project-url{
        margin: .8em 0; /* 16px=1em*/
    }

    .project-title{
        font-size: 1.7em;
        margin-bottom: .8em;
    }
    .project-url{
        font-size: 1em;
    }
    .project-course{
        font-size: 1.1em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-description{
        font-size: 1em;
    }
    .event{
        width: auto;
        flex-shrink: initial; /* Evitamos el scroll horizontal*/
    }
    .container{
        display: initial;
        text-align: -webkit-center;
    }
    .experience{
        width: 80%;
        margin: 2%;
    }
    .experience img{
        margin-left: 33%;
    }
    .experience-detail{
        width: auto;
        font-size: 16px;
    }

    .experience-title{
        font-size: 1.3em;
    }
    .experience-description{
        font-size: 1em;
    }
    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: .5em;
    }
    .form-email h3{
        margin-top: 0;
    }
    }

@media screen and (max-width: 480px){

    .header a{
        font-size: 1.1em;
    }

    h1{
        font-size: 1.3em;
        margin-bottom: 27%;
    }
    .experience-detail{
        width: auto;
        font-size: 16px;
    }
    .experience-title{
        font-size: 1.3em;
    }
    .experience-description{
        font-size: 1em;
    }
}

@media screen and (max-width: 320px){
    h1 {
        margin-bottom: 15%;
    }
   
}